<a href="https://colab.research.google.com/github/Eganj19/BIOL4800Final/blob/main/Final_Alpha_Values.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# How much does the average American Consume?

In [1]:
import numpy as np
import pandas as pd
var = float('nan')
var is np.nan #results in True
#or
np.isnan(var) #results in True
#or
pd.isna(var) #results in True
#or
pd.isnull(var)#results in True

True

In [2]:
Foods = pd.read_csv('/content/Data_Analysis_file_updated_csv.csv')
print(Foods)

                  Foods  ...   Recommended Serving Weight (g)
0                Turkey  ...                               85
1                Turkey  ...                               85
2                Turkey  ...                               85
3            Sprial Ham  ...                               28
4            Sprial Ham  ...                               28
5            Sprial Ham  ...                               85
6        Mashed Potaoes  ...                              210
7        Mashed Potaoes  ...                              210
8        Mashed Potaoes  ...                              210
9              Stuffing  ...                               28
10             Stuffing  ...                               28
11             Stuffing  ...                              228
12           Corn Bread  ...                               51
13           Corn Bread  ...                               51
14           Corn Bread  ...                               60
15  Macaroni and Cheese  ...                               99
16  Macaroni and Cheese  ...                               99
17  Macaroni and Cheese  ...                              230
18           Greenbeans  ...                              125
19           Greenbeans  ...                              125
20           Greenbeans  ...                              125
21          Pumpkin Pie  ...                               28
22          Pumpkin Pie  ...                               28
23          Pumpkin Pie  ...                              154

[24 rows x 6 columns]

In [3]:
Foods._get_numeric_data()

    Calories  Protein (g)  ...  Carbohydrates (g)   Recommended Serving Weight (g)
0     177.00      29.5500  ...             0.0500                               85
1     150.45      25.1175  ...             0.0425                               85
2     150.45      25.1175  ...             0.0425                               85
3     129.00      18.6600  ...             1.1800                               28
4      36.12       5.2248  ...             0.3304                               28
5     109.65      15.8610  ...             1.0030                               85
6     113.00       1.8600  ...            16.8100                              210
7     237.30       3.9060  ...            35.3010                              210
8     237.30       3.9060  ...            35.3010                              210
9     177.00       3.2000  ...            21.7000                               28
10     49.56       0.8960  ...             6.0760                               28
11    403.56       7.2960  ...            49.4760                              228
12    330.00       6.5900  ...            54.4600                               51
13    168.30       3.3609  ...            27.7746                               51
14    198.00       3.9540  ...            32.6760                               60
15    222.00       8.6800  ...            23.1000                               99
16    219.78       8.5932  ...            22.8690                               99
17    510.60      19.9640  ...            53.1300                              230
18     35.00       1.8900  ...             7.8800                              125
19     43.75       2.3625  ...             9.8500                              125
20     43.80       2.4000  ...             9.9000                              125
21    243.00       3.9000  ...            34.8300                               28
22     68.04       1.0920  ...             9.7524                               28
23    374.22       6.0060  ...            53.6382                              154

[24 rows x 5 columns]

In [4]:
df = pd.DataFrame(data=Foods)

In [ ]:
pip install pingouin

In [6]:
import pingouin as pg

In [7]:
pg.cronbach_alpha(data=Foods._get_numeric_data())

(0.5456305742875833, array([0.177, 0.78 ]))

# What should the average American be consuming?

In [11]:
Americans = pd.read_csv('/content/Data_Analysis_Should_Eat.csv')
print(Americans)

                  Foods  ...   Recommended Serving Weight (g)
0                Turkey  ...                               85
1                Turkey  ...                               85
2            Sprial Ham  ...                               28
3            Sprial Ham  ...                               28
4        Mashed Potaoes  ...                              210
5        Mashed Potaoes  ...                              210
6              Stuffing  ...                               28
7              Stuffing  ...                               28
8            Corn Bread  ...                               51
9            Corn Bread  ...                               51
10  Macaroni and Cheese  ...                               99
11  Macaroni and Cheese  ...                               99
12           Greenbeans  ...                              125
13           Greenbeans  ...                              125
14          Pumpkin Pie  ...                               28
15          Pumpkin Pie  ...                               28

[16 rows x 6 columns]

In [12]:
Americans._get_numeric_data()

    Calories  Protein (g)  ...  Carbohydrates (g)   Recommended Serving Weight (g)
0     177.00      29.5500  ...             0.0500                               85
1     150.45      25.1175  ...             0.0425                               85
2     129.00      18.6600  ...             1.1800                               28
3      36.12       5.2248  ...             0.3304                               28
4     113.00       1.8600  ...            16.8100                              210
5     237.30       3.9060  ...            35.3010                              210
6     177.00       3.2000  ...            21.7000                               28
7      49.56       0.8960  ...             6.0760                               28
8     330.00       6.5900  ...            54.4600                               51
9     168.30       3.3609  ...            27.7746                               51
10    222.00       8.6800  ...            23.1000                               99
11    219.78       8.5932  ...            22.8690                               99
12     35.00       1.8900  ...             7.8800                              125
13     43.75       2.3625  ...             9.8500                              125
14    243.00       3.9000  ...            34.8300                               28
15     68.04       1.0920  ...             9.7524                               28

[16 rows x 5 columns]

In [13]:
pg.cronbach_alpha(data=Americans._get_numeric_data())

(0.2987440211494462, array([-0.446,  0.722]))